.login_box_bg
 {
     background-color:#FFF2D7;
     /*height:1100px;
     width:1280px;*/
 }
     
#login-box  {
    /*width: 280px;
    height: 200px;    */
    /*margin-left: -140px;
    margin-top: -100px;*/
    position: absolute;
    left:40%;
    top:30%;    
    background:#FFCC66;
    border-bottom: 1px solid #58626F;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #58626F;
    /*margin: 10px 0 0;*/
    padding: 15px;
}    

#login-box img {
	border:none;	
    margin-top: 15px;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 25px "Calibri", Arial;
	float:left;
}

#login-box-name {
	float: right;
	display:inline;
	width:80px;
	text-align: left;
	padding: 14px 10px 0 0;
}

.login-box-uname {
	width:215px;
	height:36px;
	font:Calibri;
	font-size:11pt;
}

.login-box-password {
	background:url("../images/loginbox_password.png") no-repeat left top;
	width:215px;
	height:36px;
    font:Calibri;
	font-size:11pt;
}

.form-login  
{
	width: 205px;
	padding:5px;
	border:none;
	/*background-color:#282d34;*/
	background-color:#FF8822;
	font-size: 16px;
	color: #000000;
	margin:4px 32px 0 0;
}

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

.login-box-label{color:#000000;font:Calibri;font-size:11pt;}

.loginbtn {cursor:pointer;font-family:Calibri;font-size:11pt;}
input:focus { outline: none; }
.errormessage{color:#ff0000;font-size:9pt;font:Calibri;}
.mandatorysymbol{color:#ff0000;font:Calibri;font-size:9pt;padding-left:2px;}

#loginheader{clear:both;}
#loginheader .message{float:left;}
#loginheader .message h2{color:#000000;}
#loginheader .logo{float:right;width:50%;text-align:right;color:#E0F5FF;}


/* */
#chgpwd-box  {
    /*width: 280px;
    height: 200px;    */
    /*margin-left: -140px;
    margin-top: -100px;*/
    position: absolute;
    left:39%;
    top:30%;    
    background:#FFCC66;
    border-bottom: 1px solid #58626F;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #58626F;
    /*margin: 10px 0 0;*/
    padding: 15px;
    
    
}     
     


#chgpwd-box img {
	border:none;	
    margin-top: 15px;
}

#chgpwd-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 20px "Calibri", Arial;
	float:left;
}


#chgpwd-box-name {
	float: right;
	display:inline;
	width:80px;
	text-align: left;
	padding: 14px 10px 0 0;
}

#chgpwdheader{clear:both;}
#chgpwdheader .message{float:left;}
#chgpwdheader .message h2{color:#000000;}
#chgpwdheader .logo{float:right;width:50%;text-align:right;color:#E0F5FF;}
